.node-red/flows_usuario.json
[{"id":"69b99f71.3397d8","type":"tab","label":"Consumo por hora","disabled":false,"info":""},{"id":"570053af.a31e9c","type":"tab","label":"Demanda 2","disabled":false,"info":"calculo de demanda maxima diaria con corte a hora especifica(00:00)\n* problema cuando la lectura se ejecuta en menos de 5 desde que se arranca el proyecto\n* Falta agragar funcionalidad para evitar este tipo de errores y que avise cuando por alguna falla nose pudieron realizar todas las muestras"},{"id":"2abcf7ad.347858","type":"tab","label":"Factor de potencia","disabled":false,"info":""},{"id":"5db6e5e2.fb821c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"wm20","tz":""},{"id":"a05ca6f9.97b5b8","type":"modbustcp-server","z":"","name":"wm20","host":"10.90.100.4","port":"502","unit_id":"1","reconnecttimeout":""},{"id":"a40aca3.aaba2b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"wm20","tz":""},{"id":"8a52ccef.60784","type":"modbustcp-server","z":"","name":"wm20","host":"10.90.100.4","port":"502","unit_id":"1","reconnecttimeout":""},{"id":"91cb4b40.c0455","type":"inject","z":"69b99f71.3397d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["66d7ff36.bd1868"]]},{"id":"66d7ff36.bd1868","type":"function","z":"69b99f71.3397d8","name":"Sim consumo","func":"consumo = flow.get('consumo')||0;\nconsumo += Math.random();\n\nflow.set('consumo',consumo);\nmsg.consumo = consumo;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["73de12e2.3e8aec"]]},{"id":"73de12e2.3e8aec","type":"debug","z":"69b99f71.3397d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":160,"wires":[]},{"id":"a75f85ad.eac668","type":"inject","z":"69b99f71.3397d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["bdd1036e.da1658"]]},{"id":"bdd1036e.da1658","type":"function","z":"69b99f71.3397d8","name":"consumo en periodo","func":"consumo = flow.get('consumo')||0;\ncBase = flow.get('cBase')||0;\nci = flow.get('ci')||0;\ncBase = consumo -ci;\nflow.set('cBase',cBase);\nci = consumo;\n\nflow.set('ci',ci);\nmsg.ci = ci;\nmsg.cBase = cBase;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["46ba11ed.9bb688"]]},{"id":"3e521e0d.800df2","type":"debug","z":"69b99f71.3397d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":260,"wires":[]},{"id":"46ba11ed.9bb688","type":"function","z":"69b99f71.3397d8","name":"","func":"/*// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\n//msg.payload = date.toString();\nmsg.payload = date.toDateString();\n// Return the message so it can be sent on*/\nDate.prototype.yyyymmdd = function() {\n    var mm = this.getMonth() + 1; // getMoth() is zero based\n    var dd = this.getDate();\n    \n    return [this.getFullYear(),\n            (mm>9 ? '' : '0') + mm,\n            (dd>9 ? '' : '0') + dd\n            ].join('');\n};\nvar date = new Date();\ndate.yyyymmdd();\nmsg.topic = \"INSERT INTO consumo VALUES (NULL,Now(),Now(),Now(), \" + msg.cBase +\",1)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["ef95b941.bad59"]]},{"id":"ef95b941.bad59","type":"mysql","z":"69b99f71.3397d8","mydb":"5db6e5e2.fb821c","name":"mysql","x":810,"y":260,"wires":[["3e521e0d.800df2"]]},{"id":"9c2e29b2.8e2d8","type":"inject","z":"570053af.a31e9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["1c13d571.dab34b"]]},{"id":"1c13d571.dab34b","type":"function","z":"570053af.a31e9c","name":"","func":"//Date\ndate = new Date(msg.payload);\nmsg.payload = date.toDateString;\nd = msg.payload;\n\n// getting variables\na=flow.get('a')||0;\ni=flow.get('i')||0;\npotencia = flow.get('potencia')||[];\nsuma=flow.get('suma')||0;\npromedio = flow.get('promedio')||[];\n\n\n\n\n\nif (i>=60){\npromedio[a] = suma /(i);\na++;\ni=0;\nsuma=0;\npotencia=[];\n\n}\n\npotencia[i] =Math.random()*80;\nsuma+= potencia[i];\ni++;\n\n\n\n\n//setting variables\nflow.set('promedio',promedio);\nmsg.promedio=promedio;\nflow.set('potencia',potencia);\nmsg.potencia=potencia;\nflow.set('suma',suma);\nmsg.suma=suma;\n\nflow.set('i',i);\nmsg.i=i;\nflow.set('a',a);\nmsg.a=a;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["5cc868f2.0e9fc"]]},{"id":"5cc868f2.0e9fc","type":"debug","z":"570053af.a31e9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":60,"wires":[]},{"id":"791289e3.b8f748","type":"function","z":"570053af.a31e9c","name":"","func":"/*// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\n//msg.payload = date.toString();\nmsg.payload = date.toDateString();\n// Return the message so it can be sent on*/\nDate.prototype.yyyymmdd = function() {\n    var mm = this.getMonth() + 1; // getMoth() is zero based\n    var dd = this.getDate();\n    \n    return [this.getFullYear(),\n            (mm>9 ? '' : '0') + mm,\n            (dd>9 ? '' : '0') + dd\n            ].join('');\n};\nvar date = new Date();\ndate.yyyymmdd();\nmsg.topic = \"INSERT INTO demanda VALUES (NULL, Now(),Now(),Now(), \" + msg.max + \", 1)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["f1231909.de721"]]},{"id":"945a6fcf.895e18","type":"debug","z":"570053af.a31e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":240,"wires":[]},{"id":"f1231909.de721","type":"mysql","z":"570053af.a31e9c","mydb":"5db6e5e2.fb821c","name":"mysql","x":610,"y":240,"wires":[["945a6fcf.895e18"]]},{"id":"7377cf41.ee108","type":"function","z":"570053af.a31e9c","name":"","func":"// getting variables\na=flow.get('a')||0;\ni=flow.get('i')||0;\npotencia = flow.get('potencia')||[];\nsuma=flow.get('suma')||0;\npromedio = flow.get('promedio')||[];\nmax = flow.get('max')||0;\n\n\nmax=Math.max.apply(null,promedio);\nmsg.max = max;\na=0;\ni=0;\nsuma=0;\npotencia=[];\n\n\n\n//setting variables\n\nflow.set('potencia',potencia);\nmsg.potencia=potencia;\nflow.set('suma',suma);\nmsg.suma=suma;\n\nflow.set('i',i);\nmsg.i=i;\nflow.set('a',a);\nmsg.a=a;\n\nflow.set('max',max);\nmsg.max = max;\n\npromedio=[];\nflow.set('promedio',promedio);\nmsg.promedio=promedio;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["791289e3.b8f748"]]},{"id":"f6a50c50.cb91e","type":"inject","z":"570053af.a31e9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["7377cf41.ee108"]]},{"id":"84a57890.0d46b","type":"inject","z":"2abcf7ad.347858","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["e385017b.a51ed8"]]},{"id":"e385017b.a51ed8","type":"function","z":"2abcf7ad.347858","name":"","func":"//Date\ndate = new Date(msg.payload);\nmsg.payload = date.toDateString;\nd = msg.payload;\n\n// getting variables\na=flow.get('a')||0;\ni=flow.get('i')||0;\nFpotencia = flow.get('Fpotencia')||[];\nsuma=flow.get('suma')||0;\npromedio = flow.get('promedio')||[];\n\n\n\nif (i>=60){\npromedio[a] = suma /(i);\na++;\ni=0;\nsuma=0;\nFpotencia=[];\n\n}\n\nFpotencia[i] =90 +(Math.random()*10);\nsuma+= Fpotencia[i];\ni++;\n\n\n\n\n//setting variables\nflow.set('promedio',promedio);\nmsg.promedio=promedio;\nflow.set('Fpotencia',Fpotencia);\nmsg.Fpotencia=Fpotencia;\nflow.set('suma',suma);\nmsg.suma=suma;\n\nflow.set('i',i);\nmsg.i=i;\nflow.set('a',a);\nmsg.a=a;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["a71a0fb3.e537c"]]},{"id":"a71a0fb3.e537c","type":"debug","z":"2abcf7ad.347858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":140,"wires":[]},{"id":"1a0e559c.054dfa","type":"function","z":"2abcf7ad.347858","name":"","func":"/*// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\n//msg.payload = date.toString();\nmsg.payload = date.toDateString();\n// Return the message so it can be sent on*/\nDate.prototype.yyyymmdd = function() {\n    var mm = this.getMonth() + 1; // getMoth() is zero based\n    var dd = this.getDate();\n    \n    return [this.getFullYear(),\n            (mm>9 ? '' : '0') + mm,\n            (dd>9 ? '' : '0') + dd\n            ].join('');\n};\nvar date = new Date();\ndate.yyyymmdd();\nmsg.topic = \"INSERT INTO f_potencia VALUES (NULL, Now(),Now(),Now(),\" + msg.min + \",1)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["a609c98b.c079c"]]},{"id":"8b18294d.96f618","type":"debug","z":"2abcf7ad.347858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":360,"wires":[]},{"id":"a609c98b.c079c","type":"mysql","z":"2abcf7ad.347858","mydb":"a40aca3.aaba2b8","name":"mysql","x":570,"y":360,"wires":[["8b18294d.96f618"]]},{"id":"16322463.026684","type":"inject","z":"2abcf7ad.347858","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["ca483df0.b045d"]]},{"id":"ca483df0.b045d","type":"function","z":"2abcf7ad.347858","name":"","func":"date = new Date(msg.payload);\nmsg.payload = date.toDateString;\nd = msg.payload;\n\n// getting variables\na=flow.get('a')||0;\ni=flow.get('i')||0;\nFpotencia = flow.get('Fpotencia')||[];\nsuma=flow.get('suma')||0;\npromedio = flow.get('promedio')||[];\nmin = flow.get('min')||0;\n\n\n    min=Math.min.apply(null,promedio);\n    msg.min = min;\n    a=0;\n    i=0;\n    suma=0;\n    Fpotencia=[];\n    promedio = [];\n\n\n//setting variables\n\nflow.set('Fpotencia',Fpotencia);\nmsg.Fpotencia=Fpotencia;\nflow.set('suma',suma);\nmsg.suma=suma;\n\nflow.set('i',i);\nmsg.i=i;\nflow.set('a',a);\nmsg.a=a;\n\nflow.set('min',min);\nmsg.min = min;\nflow.set('promedio',promedio);\nmsg.promedio=promedio;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["1a0e559c.054dfa"]]},{"id":"49ac1ff4.dfe4a","type":"inject","z":"69b99f71.3397d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[[]]}]